*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl

.ipynb_checkpoints
output/
figs/
data/
old-files/

src/cpp/*.o
src/cpp/compare_sampling/*.o
src/cpp/compare_deterministic/*.o

docs/*.aux
docs/*.bbl
docs/*.blg
docs/*.fdb_latexmk
docs/*.fls
docs/*.log
docs/*.out
docs/*.synctex.gz
docs/*.toc

.DS_Store

.vscode/
